#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f17b7baa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  width: 100vw;
  height: 100vh;
}

.header {
  grid-column: 1/ 4;
  grid-row: 1;
  background-color: #ffc9c9;
  display: flex;
  flex-direction: row;
  height:fit-content;
}

.title h1 {
  color: rgb(230, 58, 58);
}

.section {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm h1 {
  font-size: 4em;
  margin: 2rem;
}

.label-username {
  margin: 1rem;
  font-weight: 500;
  font-size: 3em;
}

.textbox {
  padding: 10px;
  margin: 2rem;
  border-radius: 25px;
  background-color: white;
  width: 75%;
  color: black;
}

.login-button, button {
  display: flex;
  justify-content: center;
  background-color: #96f2d7;
  border-radius: 25px;
  width: 20vw;
  margin: 1rem;
  font-size: 2.5em;
  padding: 30px;
}

.signup-button, button {
  display: flex;
  justify-content: center;
  background-color: #eebefa;
  border-radius: 25px;
  width: 20vw;
  margin: 1rem;
  font-size: 2.5em;
  padding: 30px;
}

.defaultName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.defaultName h1 {
  color: rgb(31, 30, 30);
  background-color: #ffbfd4;
  width: 75%;
  padding: 5%;
  border-style: outset;
  border-width: 2px 8px 2px;
  border-color: #ffc9c9;
}

.topicListContainer button {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 20vh;
  background-color: #e45e79;
}

.button-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 4em;
  color: #600c22;
}

.articlesListContainer ul {
  overflow: scroll;
  height: 75vh;
}

.login-link {
  grid-column: 3;
  margin-right: 100vw;
  margin:auto;
}

.nav-links {
  list-style: none;
  padding-left: 50vw;
  margin: auto;
}

.card-numbers {
  display: flex;
  flex-direction: row;
}

.card-topic{
  margin:auto;

}

.card-author{
  margin:auto;
}

.card-body {
  padding: 10%;
}


/* this is the comment section */

.commentsListContainer ul{
  overflow: scroll;
  height: 75vh;
}

.comment-box {
  background-color: rgb(255, 255, 255);
  border-style: double;
  border-color: #c3c1c1;
  margin: 10px;
}

.logo-comment {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-comment:hover {
  filter: drop-shadow(0 0 2em #e20909aa);
}

/* this is for voting */

.logo-like {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-like:hover {
  filter: drop-shadow(0 0 2em #e20909aa);
}

.button-like {
  width:fit-content;
  background-color: transparent;
  margin: auto;
}

/* this is for posting a comment */

.comment-form {
  display: flex;
  flex-direction: column;
  background-color: #edc2c2;
  padding: 2%;
  width: 50vw;
  margin: auto;
  text-align: center;
  border-style: dashed;
}

.username-comment {
  display: flex;
  justify-content: center;
}

#username-comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  border-radius: 25px;
  height: 20px;
  width: 20vw;
  color: black;
}

#comment {
  background-color: white;
  height: 10vh;
  color: black;
}

.submit-comment {
  margin: auto;
  margin-top: 20px;
}


/* filter button */

.filter-button {
  width: 5vw;
  margin-left: 90%;
  background-color: rgb(211, 62, 62);
}

.initial-sort {
  width: 5vw;
  background-color: white;
  color: black;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-left: 90%;
  width: 5vw;
}

.sortby-button{
  display: flex;
  width: 5vw;
  margin-left: 0%;
}